#pres{
    font-size:1.5em;
    height:50%;
}

#headbar{
    margin:0;
    margin-bottom: 5px;
}

.carousel.slide{
    max-width: 80%;
    margin: 0 auto;
    margin-top: 5px;
}

.carousel{
    margin:0;
    margin-top: 5px;
}

.col-lg-6{
    padding:0;
}

div#pres.carousel.slide{
    padding: 0;
}