
RewriteEngine on

RewriteRule ^api/?$ /api/index.php

Header set Access-Control-Allow-Origin "*"
RewriteRule ^api/connect/?$ api/user.php?action=connexion

Header set Access-Control-Allow-Origin "*"
RewriteRule ^api/auth/?$ api/user.php?action=auth

Header set Access-Control-Allow-Origin "*"
RewriteRule ^api/rang/?$ api/user.php?action=rang

Header set Access-Control-Allow-Origin "*"
RewriteRule ^api/enfants/?$ api/user.php?action=enfants

Header set Access-Control-Allow-Origin "*"
RewriteRule ^api/etatcomptes/?$ api/user.php?action=etatcomptes

Header set Access-Control-Allow-Origin "*"
RewriteRule ^api/compte/([0-9]+)/?$ api/compte.php?action=compte&idadulte=$1

Header set Access-Control-Allow-Origin "*"
RewriteRule ^api/compte/([0-9]+)/enfants/([0-9]+)/?$ api/compte.php?action=compte&idadulte=$1&idenfant=$2

Header set Access-Control-Allow-Origin "*"
RewriteRule ^api/deconnexion/?$ api/user.php?action=deco

Header set Access-Control-Allow-Origin "*"
RewriteRule ^api/produits/?$ api/produit.php?action=produits


RedirectMatch 403 ^/api/classes/?$
RedirectMatch 403 ^/api/config.php
RedirectMatch 403 ^/api/credentials.json$
RedirectMatch 403 ^/api/functions.php
RedirectMatch 403 ^/api/index.php
ErrorDocument 403 /403.html
ErrorDocument 404 /404.html
#get objets d'un utilisateur
Header set Access-Control-Allow-Origin "*"
RewriteRule ^api/user/([0-9]+)/objets/?$ api/user.php?user=$1&objets=1

#get infos sur un objet
Header set Access-Control-Allow-Origin "*"
RewriteRule ^api/objet/([0-9]+)/?$ /api/objet.php?action=info&objet=$1